<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{- partial "page-title.html" . -}}</title>

{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "css/_gather.scss" | resources.ToCSS $options }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />
{{ if not (and (eq .Kind "term") (or (eq .Data.Plural "years") (eq .Data.Plural "months") (eq .Data.Plural "days"))) }}
	{{ range .AlternativeOutputFormats -}}
	  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{- partial "page-title.html" page -}}">
	{{ end }}
{{ end }}

</head>
<body>

<header>
	<h2>
		<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	</h2>
</header>

{{- block "main" . }}{{- end }}

<footer>
	
{{ if (and .Paginator (ne .Paginator.TotalPages 0)) }}

<div class="paginator">
	<span>
		{{ if .Paginator.HasNext }}<a class="older" href="{{ .Paginator.Next.URL }}">Older</a>{{ end }}
	</span>
	<span>
		{{ if .Paginator.HasPrev }}<a class="newer" href="{{ .Paginator.Prev.URL }}">Newer</a>{{ end }}
	</span>
</div>

{{ end }}

<small class="types">
	<a href="{{ .Site.BaseURL }}">all</a>
	
	<span>·</span>
	
	{{ range .Site.Taxonomies.categories.ByCount }}
		<a href="{{ .Page.Permalink }}">{{ .Page.LinkTitle }}</a>
	{{ end }}
</small>

</footer>

{{ $js := slice (resources.Get "js/OLSKEmbed/main.js") (resources.Get "js/OLSKDOM/main.js") | resources.Concat "js/bundle.js" }}
<script src="{{ $js.RelPermalink }}"></script>
<script>
(function() {
	Array.from(document.querySelectorAll('.post .embed')).forEach(async function (e) {
		const link = e.getAttribute('data-link');
		const endpoint = OLSKEmbed.OLSKEmbedEndpointURL(link);

		if (!endpoint) {
			return;
		}

		const metadata = {};
		try {
			Object.assign(metadata, await (await fetch(OLSKEmbed.OLSKEmbedFetchURL(endpoint, link))).json());
		} catch (e) {
			console.log(e);
		};

		if (Object.keys(metadata).length <= 1) {
			Object.assign(metadata, OLSKDOM.OLSKDOMMetadata(await (await fetch('https://cors-proxy.fringe.zone/' + link)).text()));
		}

		const embed = metadata.html ? metadata.html.match(/src=\u0022(\S*)\u0022/)[1] : [
			'og:video:secure_url',
			'og:video:url',
			'og:video',
			'embedUrl',
		].reduce(function (coll, item) {
			return coll || metadata[item];
		}, undefined);

		if (!embed) {
			return;
		}

		e.innerHTML = `<iframe width="100%" height="${ metadata['og:video:height'] }" src="${ embed.replace('youtube.com', 'youtube-nocookie.com') }" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`;
	});
})();
</script>

</body>
</html>
