<div class="post">

{{ $isRSS := eq (.Scratch.Get "kScopeRSS") "true" }}

{{ with .Params.link }}
<div class="embed" data-link="{{ . }}"></div>
{{ end }}

{{ if eq (.Scratch.Get "kScope") "kScopeList" -}}<div>{{- else -}}<article>{{- end }}
{{ .Content }}
{{ if eq (.Scratch.Get "kScope") "kScopeList" -}}</div>{{- else -}}</article>{{- end }}

<span class="metadata">
	<small>
		{{ $t := time.AsTime .Params.localtime }}

		<a href="{{ .Permalink }}"><time datetime="{{ $t }}">{{ if eq (.Scratch.Get "kScope") "kScopeList" -}}
			{{- $t.Format "15h04" -}}
		{{- else -}}
			{{- $t.Format "Jan 02 2006, 15h04" -}}
		{{- end }}</time></a>

		{{ with .GetTerms "place" }}
		<span>in {{ range . -}}
			<a href="{{ .Permalink }}">{{ .LinkTitle }}</a> / 
		{{- end -}}</span>
		{{ end }}

		{{ with .GetTerms "country" }}
		<span>{{- range . -}}
				<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
			{{- end -}}</span>
		{{- end -}}

		{{- with .GetTerms "tags" -}}
		<span>, tags: </span> 
		<span>
			{{- range $index, $element := . -}}
				{{- if $index }}, {{ end }}<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
			{{- end -}}
		</span>
		{{- if $isRSS -}}, {{- end -}}
		{{ end }}
	</small>

{{ with .Params.categories }}
	{{ if $isRSS }}<small>type: {{- end -}}
	<span class="types">
		{{- range . -}}
			{{- with $.Site.GetPage (printf "/categories/%s" ( . | urlize)) -}}
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			{{- end -}}
		{{- end -}}
	</span>
	{{- if $isRSS }}</small>{{end}}
{{ end }}
</span>

</div>
