{{- if (eq .Kind "term") }}entries {{ cond (eq .Data.Plural "categories") "under" (cond (eq .Data.Plural "tags") "tagged" "for") }} {{ end }}

{{- if (and (eq .Kind "term") (eq .Data.Plural "days")) }}
	{{ $t := time.AsTime .Data.Term }}
	{{ time.Format "Monday, January 2, 2006" $t }}
{{ else if (and (eq .Kind "term") (eq .Data.Plural "months")) }}
	{{ $t := time.AsTime (delimit (slice .Data.Term "01") "-") }}
	{{ time.Format "January 2006" $t }}
{{ else if (or (eq .Data.Plural "categories") (eq .Data.Plural "tags")) -}}
	"{{- .Title -}}"
{{ else if eq .Section "posts" }}
	entry for {{ .Date.Format "Monday, January 2, 2006" -}}
{{- else }}
	{{- .Title -}}
{{ end -}}
